[credentials]
username = your-username
password = your-password
[connection]
host = rabbit-host
port = rabbit-port
vhost = rabbit-virtual-host
[eavesdrop]
queue = event.sample.#
exchange = ceilometer
